/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/*Loader*/

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.521);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.boton {
    display: block;
    /* hace que el botón sea un elemento en línea */
    margin: 0 auto;
    /* centra horizontalmente el botón */
    padding: 10px 20px;
    /* agrega un espacio interior al botón */
    font-size: 16px;
    /* establece el tamaño de la fuente */
    font-weight: bold;
    /* establece el peso de la fuente */
    text-align: center;
    /* centra el texto dentro del botón */
    text-decoration: none;
    /* elimina el subrayado del texto */
    background-color: #007bff;
    /* establece el color de fondo del botón */
    color: #fff;
    /* establece el color de texto del botón */
    border: none;
    /* elimina el borde del botón */
    border-radius: 5px;
    /* agrega bordes redondeados al botón */
    cursor: pointer;
    /* cambia el cursor al pasar el mouse sobre el botón */
    transition: background-color 0.3s ease;
    /* agrega una transición suave al color de fondo */
}

.boton:hover {
    background-color: #005D6E;
}

/* Estilos de encabezado y navegación */

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff83;
    height: 50px;
  }

  .logo img{
    width: 20%;
    margin-left: 15px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    list-style: none;
    z-index: 99;
    
  }
  
  .nav-links li {
    height: 100%;
  }
  
  .nav-links li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    color: #050505;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
 
    .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 6vh;
      background-color: #07070785;
      backdrop-filter: blur(15px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
   
    }
  
    .nav-links li {
      width: 100%;
     
    }
  
    .nav-links li a {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      align-items: normal;
      margin-top: 10px;
      color: white;

    }
  
    .burger {
      display: block;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  

/* Estilos de sección de inicio */
#inicio {
    background-color: #F7F7F7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#inicio .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#inicio .video-fondo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.inicio {
    z-index: 50;
    border-radius: 50px;
    backdrop-filter: blur(8px);
    /* Aplicar un efecto de desenfoque de 10 píxeles */
}

#inicio h1 {
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#inicio h1 span {
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
}

#inicio p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    max-width: 800px;
    color: white;
}

/* Estilos para pantallas con un ancho máximo de 768px */
@media only screen and (max-width: 768px) {
  #inicio {
    height: auto;
    min-height: 90vh;
  }

  .inicio{
    margin: 20px;
  }

  #inicio .video-fondo video {
    position: static;
    transform: none;
  }

 

  #inicio h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgb(241, 236, 236);
  }

  #inicio p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}


/* Estilos de sección de inventario */
#inventario {
    background-color: #e0dfdf59;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255)
}

#inventario h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

#inventario p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    max-width: 800px;
}

/*Ubicacion*/
#ubicacion{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(95, 95, 95, 0.445);
}
#ubicacion h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el mapa */
#ubicacion iframe {
  max-width: 100%;
  height: 500px;
  border: none;
}

/* Estilos para el número de teléfono */
#ubicacion p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: white

}

#ubicacion a {
  color: #007bff;
  text-decoration: none;
}

#ubicacion a:hover {
  text-decoration: underline;
}

.wp{
  background: green;
  margin-top: 20px;
}

.wp a {
  color: white !important;
}



/* Estilos de sección de contacto */
.contacto {
  background: rgba(3, 3, 3, 0.479);
    padding: 80px 0;
    color: white
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: -1;
}


.contenedor-form {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}


.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario .campo {
    margin: 10px;
    width: 100%;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.formulario .boton-contacto {
    background-color: #008CBA;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}

.formulario .boton-contacto:hover {
    background-color: #005D6E;
}

.titulo-seccion {
    margin-bottom: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

/* Estilos generales del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el texto del footer */
footer p {
    font-size: 16px;
    margin: 0;
}

footer p span {
    font-size: 30px;
    color: red;
}

/* Estilos para cuando se ve el footer en dispositivos móviles */
@media only screen and (max-width: 600px) {
    footer {
        padding: 10px;
    }

    footer p {
        font-size: 14px;
    }
}